/* IE11 Fallbacks */

.lgd-row > * {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.lgd-row__one-quarter,
.lgd-row--quarters > *,
.lgd-row__one-third,
.lgd-row--thirds > *,
.lgd-row__one-half,
.lgd-row--halves > *,
.lgd-row__two-thirds,
.lgd-row__three-quarters,
.lgd-row__full {
  width: calc(100% - 1rem);
}

@media screen and (min-width: 48rem) {
  .lgd-row__one-quarter,
  .lgd-row--quarters > *,
  .lgd-row__one-third,
  .lgd-row--thirds > *,
  .lgd-row__one-half,
  .lgd-row--halves > *,
  .lgd-row__two-thirds,
  .lgd-row__three-quarters {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 60rem) {

  .lgd-row__one-quarter,
  .lgd-row--quarters > * {
    width: calc(25% - 1rem);
  }

  .lgd-row__one-third,
  .lgd-row--thirds > * {
    width: calc((100% / 3) - 1rem);
  }

  .lgd-row__two-thirds {
    width: calc((100% / 3 * 2) - 1rem);
  }

  .lgd-row__three-quarters {
    width: calc(75% - 1rem);
  }
}
