/*
  @file Utility classes to drop into templates.
*/

/* 
  The main container class that defines how wide our content area is 
*/
.lgd-container {
  max-width: var(--width-container);
  margin-right: auto;
  margin-left: auto;
}

.padding-horizontal {
  padding-right: var(--spacing-padding-horizontal);
  padding-left: var(--spacing-padding-horizontal);
}