/* The main container class that defines how wide our content area is */
.lgd-container {
  max-width: 60rem; /* IE11 */
  max-width: var(--width-container);
  margin-right: auto;
  margin-left: auto;
}

.padding-horizontal {
  padding-right: 1rem; /* IE11 */
  padding-left: 1rem; /* IE11 */
  padding-right: var(--spacing-padding-horizontal);
  padding-left: var(--spacing-padding-horizontal);
}