{% extends "@localgov_base/layout/status-pages/page-status.html.twig" %}

{% block page_content %}
  <div class="lgd-container">
      <div class="lgd-row">
        <div class="lgd-row__full">
          <div class="padding-horizontal">
            <h1>{{ 'Page not found'|t }}</h1>
            <p>{{ 'The page you are requesting cannot be found.'|t }}</p>
          </div>
        </div>
      </div>
  </div>
{% endblock %}