/*
  @file Base/element level theming.

  This file sets up default CSS for elements, such as links as
  well as font sizes, vertical rhythm, etc.
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-top: 0; /* Removing top margin, for better vertical rhythm layout */
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

a {
  color: var(--color-link);
}

a:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

a:focus {
  transition: var(--transition-time);
  text-decoration: none;
  color: var(--color-black);
  outline: 3px solid transparent;
  background-color: var(--color-focus);
  -webkit-box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
  box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  margin-bottom: var(--vertical-rhythm-spacing);
  font-family: var(--font-secondary);
}

h1,
.h1 {
  font-size: var(--font-size-h1);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  font-weight: bold;
}

h5,
.h5 {
  font-size: var(--font-size-h5);
  font-variant: small-caps;
}

h6,
.h6 {
  text-decoration: underline;
  font-size: var(--font-size-h6);
  font-variant: small-caps;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: var(--vertical-rhythm-spacing);
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

/* Inputs and Select Lists */
input:not([type="submit"]),
input:not([type="checkbox"]),
input:not([type="radio"]),
select {
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  border: var(--border);
  border-color: var(--input-border-color);
  background-color: var(--input-bg-color);
}

/* Buttons */
button,
input[type="submit"] {
  padding: var(--button-padding-vertical) var(--button-padding-horizontal) var(--button-padding-vertical) var(--button-padding-horizontal);
  cursor: pointer;
  color: var(--button-text-color);
  border: var(--border);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg-color);
  font-family: var(--button-font-family);
}

button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  text-decoration: underline;
  color: var(--button-text-color-hover);
  background-color: var(--button-bg-color-hover);
}

/*
  Checkboxes

  This checkboxes styling is taken directly from the gov.uk design system:
    - https://design-system.service.gov.uk/components/checkboxes/

  We are adding a .form-checkboxes class around each of these here to make sure
  this only affects checkboxes created by Drupal. If we don't, the position absolute
  can have very unwanted effects.

  If you need to create custom checkboxes, make sure you have the same class
  wrapping them.
*/

.form-checkboxes,
.facet-item {
  position: relative;
}

.form-checkboxes input[type="checkbox"],
.facet-item input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}

.form-checkboxes input[type="checkbox"] + label,
.facet-item input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 40px;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}

.form-checkboxes input[type="checkbox"] + label::before,
.facet-item input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  content: "";
  border: 2px solid currentColor;
  background: transparent;
}
.form-checkboxes input[type="checkbox"] + label::after,
.facet-item input[type="checkbox"] + label::after {
  position: absolute;
  top: 11px;
  left: 9px;
  box-sizing: border-box;
  width: 23px;
  height: 12px;
  content: "";
  transform: rotate(-45deg);
  opacity: 0;
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  background: transparent;
}

.form-checkboxes input[type="checkbox"]:focus + label:before,
.facet-item input[type="checkbox"]:focus + label:before {
  border-width: 4px;
  box-shadow: 0 0 0 3px var(--color-focus);
}

.form-checkboxes input[type="checkbox"]:hover + label,
.facet-item input[type="checkbox"]:hover + label,
.form-checkboxes input[type="checkbox"]:focus + label,
.facet-item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.form-checkboxes input[type="checkbox"]:checked + label:after,
.facet-item input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

table {
  width: 100%;
  text-align: left;
  border: var(--table-border);
  border-collapse: collapse;
}

thead th {
  padding: var(--table-padding);
  background-color: var(--table-bg-color);
}

tbody td {
  padding: var(--table-padding);
}

tbody tr {
  border-bottom: var(--table-border);
}
