/* IE11 Fallbacks */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  transition: 0.3s;
  color: #652c95;
}

a:focus {
  color: black;
  background-color: #fd0;
  box-shadow: 0 -2px, #fd0, 0 4px black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  margin-bottom: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
.h1 {
  font-size: 2.875rem;
}

h2,
.h2 {
  font-size: 1.685rem;
}

h3,
.h3 {
  font-size: 1.3125rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 1.5rem;
}

table {
  border: 1px solid #f3f2f1;
}

thead th {
  padding: 1rem;
  background-color: #f3f2f1;
}

tbody td {
  padding: 1rem;
}

tbody tr {
  border-bottom: 1px solid #f3f2f1;
}

input,
select,
option,
textarea,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
