/**
 * @file
 * Visual styles for fields.
 */

 .field__label {
    font-weight: var(--heading-font-weight);
  }
  .field--label-inline .field__label,
  .field--label-inline .field__items {
    float: left; /* LTR */
  }
  .field--label-inline .field__label,
  .field--label-inline > .field__item,
  .field--label-inline .field__items {
    padding-right: var(--spacing-smaller);
  }
  [dir="rtl"] .field--label-inline .field__label,
  [dir="rtl"] .field--label-inline .field__items {
    padding-right: 0;
    padding-left: var(--spacing-smaller);
  }
