/*
  @file This is our file to create the variables that will be used across the theme.

  To override these in your sub-theme, just create a new variables.css file and
  library, and add that to your theme.info.yml file.
*/
/* Widths and Spacing */
:root {
  --width-extra-large: 73.75rem; /* 1180px */
  --width-large: 60rem;
  --width-medium: 48rem;
  --width-small: 30rem;
  --width-container: var(--width-extra-large);
  --spacing-smallest: 0.25rem;
  --spacing-smaller: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing: 1rem;
  --spacing-large: 1.5rem;
  --spacing-larger: 2rem;
  --spacing-largest: 2.5rem;
  --spacing-mega: 3rem;
  --spacing-padding-horizontal: var(--spacing);
  --line-height: 1.5;
  --vertical-rhythm-spacing: calc(var(--line-height) * 1rem);

  /* Colours */
  /*
    Colours Defined
    In this section, we define the colours available in our theme.
    We should not refer to these directly in our CSS however. Instead,
    we use the names at our "Colours Applied" section.
  */
  --color-accent: #652c95;
  --color-green: #048a04;
  --color-red: #e4251b;
  --color-orange: #ed7522;
  --color-yellow: #ffdd00;
  --color-blue: #297bbb;
  /*
    Grey Scale
    In this section, we define our greys; let's not have 50 shades
  */
  --color-white: #ffffff;
  --color-grey-light: #f3f2f1;
  --color-grey-medium: #b1b4b6;
  --color-grey-dark: #505a5f;
  --color-black: #0b0c0c;
  /*
    Colours Applied
    In this section, we "apply" our colours.
  */
  --color-info: var(--color-blue);
  --color-success: var(--color-green);
  --color-danger: var(--color-red);
  --color-warning: var(--color-orange);
  --color-link: var(--color-accent);
  --color-focus: var(--color-yellow);

  /* Fonts */
  /*
    We choose basic fonts that most people have in browser cache from visiting other websites.
    This will help with page speed, rather than calling fonts from Google Fonts or somewhere.
  */
  --font-primary: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-secondary: Georgia, 'Times New Roman', Times, serif;
  /*
    Font sizes based on vertical rhythm of:
    - Font size: 16px;
    - Scale factor: 1.303
    - Details: https://www.gridlover.net/try
  */
  --font-size: 1rem;
  --font-size-smallest: calc(var(--font-size) * .3);
  --font-size-smaller: calc(var(--font-size) * .5);
  --font-size-small: calc(var(--font-size) * .75);
  --font-size-medium: calc(var(--font-size) * 1);
  --font-size-large: calc(var(--font-size) * 1.3125);
  --font-size-larger: calc(var(--font-size) * 1.6875);
  --font-size-largest: calc(var(--font-size) * 2.875);
  --font-size-h1: clamp(var(--font-size-larger), 10vw, var(--font-size-largest));
  --font-size-h2: clamp(var(--font-size-large), 8vw, var(--font-size-larger));
  --font-size-h3: clamp(var(--font-size-medium), 6vw, var(--font-size-large));
  --font-size-h4: var(--font-size-medium);
  --font-size-h5: var(--font-size-medium);
  --font-size-h6: var(--font-size-medium);

  /* Borders */
  --border-width: 1px;
  --border-width-large: 5px;
  --border-color: var(--color-grey-light);
  --border-color-alert: var(--color-black);
  --border-style: solid;
  --border-radius: var(--spacing-smallest);
  --border: var(--border-width) var(--border-style) var(--border-color);
  --border-large: var(--border-width-large) var(--border-style) var(--border-color);

  /* Animation */
  --transition-time: 0.3s;

  /* Breadcrumbs */
  --breadcrumbs-background-color: var(--color-white);
  --breadcrumbs-border: var(--border);
  --breadcrumbs-divider: "»";
  --breadcrumbs-font-size: var(--font-size-medium);
  --breadcrumbs-padding-vertical: var(--spacing-small);
  --breadcrumbs-padding-horizontal: 0;
  --breadcrumbs-link-color: var(--color-accent);
  --breadcrumbs-spacing-bottom: var(--vertical-rhythm-spacing);
}

/*
  Applying Variables

  By taking this approach of setting variables above, and then applying them here
  to specific items, we can easily override these in sub-themes to change items
  one-by-one without the CSS cascade affecting us (unless we want it to - in that case,
  override the defined variables above instead).
*/
:root {
  --color-section-bg: var(--color-accent);

  /* Header Items */
  --section-spacing-vertical-header: var(--spacing);
  --color-section-header-bg: var(--color-section-bg);
  --header-link-color: var(--color-white);
  --header-services-button-border: var(--border);
  --header-services-button-border-color: var(--color-white);
  --header-services-button-color: var(--color-white);
  --header-services-button-bg-color: transparent;
  --header-services-button-bg-color-hover: var(--color-accent);
  --header-services-button-color-hover: var(--color-white);
  --header-logo-width: 10rem;

  /* Secondary Menu */
  --secondary-menu-bg-color: var(--color-white);
  --section-spacing-vertical-secondary-menu: var(--spacing-largest);
  --section-spacing-horizontal-secondary-menu: var(--spacing-largest);
  --secondary-menu-link-color: var(--color-black);
  --secondary-menu-link-color-focus: var(--color-black);
  --secondary-menu-column-count: 3;

  /* Footer Items */
  --color-section-pre-footer-bg: var(--color-grey-dark);
  --color-section-footer-bg: var(--color-white);
  --color-section-post-footer-bg: var(--color-white);
  --section-spacing-vertical-pre-footer: var(--spacing-largest);
  --section-spacing-vertical-footer: var(--spacing);
  --section-spacing-vertical-post-footer: var(--spacing);

  /* Page Title */
  --page-title-border: var(--border);
  --page-title-width: var(--width-medium);
  --page-title-lede-font-size: var(--font-size-h3);

  /* Input Elements */
  --input-padding-vertical: var(--spacing);
  --input-padding-horizontal: var(--spacing);
  --input-text-color: var(--color-white);
  --input-text-color-hover: var(--color-accent);
  --input-icon-color: var(--input-text-color);
  --input-icon-color-hover: var(--color-accent);
  --input-border-color: var(--color-grey-medium);
  --input-border-color-hover: var(--color-grey-medium);
  --input-bg-color: var(--color-white);
  --input-bg-color-hover: var(--color-grey-light);
  --input-border-radius: 0;

  /* Button Elements (and button-styled links) */
  --button-padding-vertical: var(--spacing);
  --button-padding-horizontal: var(--spacing);
  --button-text-color: var(--color-white);
  --button-text-color-hover: var(--color-accent);
  --button-icon-color: var(--button-text-color);
  --button-icon-color-hover: var(--color-accent);
  --button-border-color: var(--color-accent);
  --button-bg-color: var(--color-accent);
  --button-bg-color-hover: var(--color-white);
  --button-font-family: var(--font-primary);
  --button-border-radius: 0;

  /* Sidebar Items */
  --sidebar-exposed-form-bg-color: var(--color-grey-light);
  --sidebar-exposed-form-padding-vertical: var(--spacing-larger);
  --sidebar-exposed-form-padding-horizontal: var(--spacing-larger);
  --sidebar-exposed-form-item-spacing: var(--spacing);

  /* Guide Navigation */
  --section-spacing-vertical-guide-nav: calc(var(--spacing-large) + 1rem); /* 1rem to account for padding on left of bullets */
  --section-spacing-horizontal-guide-nav: var(--spacing-large);
  --guide-nav-column-count: 3;

  /* IA Block */
  --ia-block-bg-color: var(--color-white);
  --ia-block-bg-color-promoted: var(--color-white);

  /* Featured Subsite */
  --featured-subsite-bg-color: var(--color-grey-light);

  /* Box Links */
  --box-link-border: var(--border);
  --box-link-content-spacing: var(--spacing-small);

  /* Fact Box */
  --fact-box-bg-light: var(--color-grey-light);
  --fact-box-bg-dark: var(--color-grey-dark);
  --fact-box-bg-accent: var(--color-accent);
  --fact-box-padding-vertical: var(--spacing-largest);
  --fact-box-padding-horizontal: var(--spacing-large);
  --fact-box-title: var(--font-size-large);
  --fact-box-fact: var(--font-size-largest);
  --fact-box-border: var(--border-large);
  --fact-box-border-color: var(--color-grey-medium);
  --fact-box-red: red;
  --fact-box-blue: blue;
  --fact-box-text-color-accent: var(--color-white);

  /* Image with Caption */
  --image-with-caption-border: var(--border);
  --image-with-caption-border-color: var(--color-grey-light);
  --image-with-caption-padding: var(--spacing);
  --image-with-caption-bg-color: var(--color-grey-light);

  /* Quote */
  --quote-padding: var(--spacing-larger);
  --quote-padding-left: var(--spacing-larger);
  --quote-border: var(--border-large);
  --quote-border-color: var(--color-accent);
  --quote-bg-color: var(--color-grey-light);
  --quote-author-color: var(--color-accent);

  /* Featured Teasers */
  --featured-teaser-border: var(--border);
  --featured-teaser-content-padding: var(--spacing);

  /* Documents */
  --table-border: var(--border);
  --table-padding: var(--spacing);
  --table-bg-color: var(--color-grey-light);

  /* Tabs */
  --tabs-border: var(--border);
  --tabs-border-color: var(--color-grey-dark);
  --tabs-text-color: var(--color-grey-dark);
  --tabs-button-bg-color: var(--color-grey-light);
  --tabs-button-active-color: var(--color-white);
  --tabs-button-font-size: var(--font-size);
  --tabs-button-font-family: var(--font-primary);

  /* Links styled like buttons */
  --button-link-padding: var(--spacing);
  --button-link-bg-color: var(--color-accent);
  --button-link-color: var(--color-white);
  --button-link-bg-color-hover: var(--color-accent);
  --button-link-color-hover: var(--color-white);

  /* Step-by-Step */
  --step-by-step-relationship-border-color: var(--color-accent);
  --step-by-step-part-of-color: var(--color-accent);
  --step-by-step-active-item-color: var(--color-accent);
  --step-by-step-active-bullet-bg-color: var(--color-accent);
  --step-by-step-active-bullet-border-color: var(--color-accent);
  --step-by-step-line-joining-items-border: var(--border);
  --step-by-step-line-joining-items-color: var(--color-accent);
  --step-by-step-nav-block-width: var(--width-medium);

  /* Call-out Box */
  --call-out-box-padding: var(--spacing-large);
  --call-out-box-link-padding: var(--spacing-smaller);
  --call-out-box-bg-color: var(--color-accent);
  --call-out-box-text-color: var(--color-white);

  /* Service Statuses */
  --service-statuses-padding: var(--spacing);
  --service-statuses-container-bg-color: var(--color-accent);
  --service-statuses-container-text-color: var(--color-white);
  --service-statuses-list-bg-color: var(--color-white);
  --service-statuses-list-spacing: var(--spacing-large);
  --service-statuses-list-border: var(--border);
  --service-statuses-list-border-color: var(--color-accent);

  /* Banner */
  --banner-content-width: var(--width-medium);
  --banner-content-margin: calc(var(--spacing-largest) * 2);
  --banner-content-padding: var(--spacing-largest);
  --banner-content-bg-color: var(--color-accent);
  --banner-content-text-color: var(--color-white);
  --banner-title-size: var(--font-size-larger);
}
