/*
  @file Theming the alert class - used in WYSIWYG.
*/

.alert {
  padding: var(--spacing-largest);
  border: var(--border-large);
  border-color: var(--border-color-alert);
  background-color: var(--color-white);
  font-size: var(--font-size-large);
  font-weight: bold;
}

.alert-primary {
  border-color: var(--color-accent);
}

.alert-info {
  border-color: var(--color-info);
}

.alert-danger {
  border-color: var(--color-danger);
}

.alert-fail {
  border-color: var(--color-warning);
}
