/**
 * @file
 * Style rules for alert banners
 */

/* Default */
.localgov-alert-banner {
  background-color: #048a04;
}

.localgov-alert-banner,
.localgov-alert-banner a {
  color: white;
}

.localgov-alert-banner a:focus {
  color: black;
}

.localgov-alert-banner__close {
  padding: 0.5rem 0.75rem;
  color: white;
  border: 1px solid white;
}

.localgov-alert-banner--minor .localgov-alert-banner__close {
  color: black;
  border-color: black;
}

.localgov-alert-banner__close:focus,
.localgov-alert-banner__close:hover {
  text-decoration: underline;
  color: black;
  border-color: white;
  background-color: white;
}

/* Announcement */
.localgov-alert-banner--announcement {
  background-color: #048a04;
}

/* Minor */
.localgov-alert-banner--minor {
  color: black;
  background-color: #fd0;
}
.localgov-alert-banner--minor a {
  color: black;
}

/* Major */
.localgov-alert-banner--major {
  background-color: #e4251b;
}

/* Death of a notable person */
.localgov-alert-banner--notable-person {
  background-color: black;
}

.localgov-alert-banner__inner {
  margin: 0 0;
  padding: 1rem 0;
}
