/**
 * @file
 * Style rules for alert banners
 */

/* Default */
.localgov-alert-banner {
  background-color: var(--alert-banner-bg-color);
}

dialog.localgov-alert-banner {
  margin: auto;
}

dialog.localgov-alert-banner::backdrop {
  background-color: var(--dialog-backdrop-color);
}

.localgov-alert-banner,
.localgov-alert-banner a {
  color: var(--alert-banner-color);
}

.localgov-alert-banner a:focus {
  color: var(--alert-banner-focus-color);
}

.localgov-alert-banner__close {
  padding: var(--alert-banner-close-padding-vertical) var(--alert-banner-close-padding-horizontal);
  color: var(--alert-banner-color);
  border: var(--alert-banner-close-border);
  border-color: var(--alert-banner-close-border-color);
}

.localgov-alert-banner--minor .localgov-alert-banner__close {
  color: var(--alert-banner-minor-color);
  border-color: var(--alert-banner-minor-border-color);
}

.localgov-alert-banner__close:focus,
.localgov-alert-banner__close:hover {
  text-decoration: underline;
  color: var(--alert-banner-close-button-bg-color);
  border-color: var(--alert-banner-close-button-border-color);
  background-color: var(--alert-banner-close-button-color);
}

.localgov-alert-banner--minor .localgov-alert-banner__close:hover {
  border-color: var(--alert-banner-minor-border-color);
}

/* Announcement */
.localgov-alert-banner--announcement {
  background-color: var(--alert-banner-bg-color);
}

/* Minor */
.localgov-alert-banner--minor {
  color: var(--alert-banner-color-minor);
  background-color: var(--alert-banner-bg-color-minor);
}
.localgov-alert-banner--minor a {
  color: var(--alert-banner-color-minor);
}

/* Major */
.localgov-alert-banner--major {
  background-color: var(--alert-banner-bg-color-major);
}

/* Death of a notable person */
.localgov-alert-banner--notable-person {
  background-color: var(--alert-banner-bg-color-notable-person);
}

.localgov-alert-banner__inner {
  margin: var(--alert-banner-inner-margin-vertical) var(--alert-banner-inner-margin-horizontal);
  padding: var(--alert-banner-inner-padding-vertical) var(--alert-banner-inner-padding-horizontal);
}

.localgov-alert-banner--announcement .localgov-alert-banner__title {
  color: var(--alert-banner-title-color-announcement);
}
.localgov-alert-banner--minor .localgov-alert-banner__title {
  color: var(--alert-banner-title-color-minor);
}
.localgov-alert-banner--major .localgov-alert-banner__title {
  color: var(--alert-banner-title-color-major);
}
.localgov-alert-banner--notable-person .localgov-alert-banner__title {
  color: var(--alert-banner-title-color-notable-person);
}
