.blog-post__metadata-item--author,
.blog-post__metadata-item--categories {
  padding-left: 0;
}

.blog-post__metadata-item + .blog-post__metadata-item {
  margin-top: var(--vertical-rhythm-spacing);
}

.blog-post__author::marker,
.blog-post__category::marker {
  color: transparent;
}

.blog-post__author,
.blog-post__category {
  display: inline;
}

.blog-post__author + .blog-post__author,
.blog-post__category + .blog-post__category {
  margin-left: var(--news-category-spacing);
}

.blog-post--teaser__meta *{
  display: inline-block;
}

.lgd-blog--featured {
  margin-bottom: var(--vertical-rhythm-spacing);
}

.field--name-localgov-blog-channel-featured > .field__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--vertical-rhythm-spacing);
}

.field--name-localgov-blog-channel-featured > .field__items > .field__item:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--color-grey-lightest);
  padding: var(--vertical-rhythm-spacing);
}

.view-localgov-blog-list .view-content {
  padding-top: var(--vertical-rhythm-spacing);
  border-top: var(--border);
}


.field--name-localgov-blog-related-posts > .field__item {
  margin-bottom: var(--vertical-rhythm-spacing);
}
