.blog-post__meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-smallest);
}

.field--name-localgov-blog-related-posts > .field__items > .field__item,
.field--name-localgov-blog-related-posts > .field__item {
  margin-block-end: var(--vertical-rhythm-spacing);
}

/* Featured posts */
.lgd-blog__featured {
  margin-block-end: var(--vertical-rhythm-spacing);
}

.field--name-localgov-blog-channel-featured > .field__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--vertical-rhythm-spacing);
}

.field--name-localgov-blog-channel-featured > .field__items > .field__item:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: var(--vertical-rhythm-spacing);
  background-color: var(--color-grey-lightest);
}

.view-localgov-blog-list .view-content {
  padding-block-start: var(--vertical-rhythm-spacing);
  border-block-start: var(--border);
}
