.box-links-listing {
  margin-bottom: 1.5rem;
}

.box-links-listing--boxes .box-links-listing__list-item + .box-links-listing__list-item,
.box-links-listing__list .box-links-listing__list-item + .box-links-listing__list-item {
  margin-bottom: 1.5rem;
}

.box-link {
  position: relative;
  border: 1px solid #505a5f;
}

.box-link > * {
  margin-bottom: 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.box-link__title {
  margin-top: 0.75rem;
}
