/* IE11 Fallbacks */
.lgd-region--breadcrumb {
  background-color: white;
  margin-bottom: 1rem;
}

.breadcrumbs__item {
  font-size: 1rem;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: "»";
}

.breadcrumbs {
  padding: 0.5rem 0;
  border-bottom: 1px solid #f3f2f1;
}

.breadcrumbs__link {
  color: #652c95;
}
