/*
  @file Base styles for call out paragraphs / advanced callout div container
*/
.callout {
  color: white;
  font-size: 1.3125rem;
}

.callout a {
  color: white;
}
.callout a:focus {
  color: white;
  background-color: #505a5f;
}

.callout-primary {
  background-color: #652c95;
}

.callout-success {
  background-color: #048a04;
}

.callout-danger {
  background-color: #e4251b;
}

.callout-teal {
  background-color: teal;
}

.callout-carbon {
  background-color: #505a5f;
}

.callout-yellow,
.callout-yellow a {
  color: #505a5f;
  background-color: #fd0;
}
