.call-out-box {
  padding: 0; /* Override the module css */
}

.call-out-box--no-image {
  background-color: #652c95;
}

.call-out-box__content {
  padding: 1.5rem;
  color: white;
  background: #652c95;
}

.call-out-box__link {
  padding: 0.5rem;
  color: #652c95;
  background-color: white;
}

@media screen and (min-width: 48rem) {
  .call-out-box--has-image .call-out-box__content {
    background: linear-gradient(to right, #652c95 75%, transparent);
  }
}
