.call-out-box {
  padding: 0; /* Override the module css */
}

.call-out-box__content > h2,
.call-out-box__content > h3,
.call-out-box__content > h4 {
  color: var(--call-out-box-title-color);
}

.call-out-box--no-image {
  background-color: var(--call-out-box-bg-color);
}

.call-out-box__content {
  padding: var(--call-out-box-padding);
  color: var(--call-out-box-text-color);
  background: var(--call-out-box-bg-color);
}

.call-out-box__link {
  padding: var(--call-out-box-link-padding);
  color: var(--call-out-box-bg-color);
  background-color: var(--call-out-box-text-color);
}

@media screen and (min-width: 48rem) {
  .call-out-box--has-image .call-out-box__content {
    width: 75%;
    padding-inline-end: 20%;
    background: linear-gradient(to right, var(--call-out-box-bg-color) 75%, transparent);
  }
}
