.localgov-directories-venue fieldset,
.localgov-directories-page fieldset {
  padding: 0;
  border: none;
}

.localgov-directories-venue legend,
.localgov-directories-venue .field--type-address > .field__label,
.localgov-directories-page legend {
  margin-bottom: var(--vertical-rhythm-spacing);
  font-size: var(--font-size-large);
  font-weight: bold;
}

.localgov-directories-page fieldset .field__label {
  font-size: var(--font-size-large);
  font-weight: bold;
}

.localgov-directories-page fieldset .field + .field {
  margin-top: var(--vertical-rhythm-spacing);
}

.localgov-directories-venue .field--name-location {
  margin-bottom: var(--vertical-rhythm-spacing);
}

.localgov-directory__content .views-element-container + .views-element-container {
  margin-top: var(--vertical-rhythm-spacing);
}