.localgov-directories-venue legend,
.localgov-directories-page legend {
  margin-bottom: 1.5rem;
  font-size: 1.3125rem;
}

.localgov-directories-page fieldset .field + .field {
  margin-top: 1.5rem;
}

.localgov-directories-venue .field--name-location,
.localgov-directory__content .views-element-container + .views-element-container {
  margin-bottom: 1.5rem;
}
