.lgd-documents table {
  width: 100%;
  border: var(--table-border);
  border-collapse: collapse;
  text-align: left;
}

.lgd-documents thead th {
  padding: var(--table-padding);
  background-color: var(--table-bg-color);
}

.lgd-documents tbody td {
  padding: var(--table-padding);
}

.lgd-documents tbody tr {
  border-bottom: var(--table-border);
}