.facets-widget__list {
  padding-left: 0;
}

.facets-widget__list + * {
  margin-top: var(--vertical-rhythm-spacing);
}

.facet-item + .facet-item {
  margin-top: var(--vertical-rhythm-spacing);
}

.facet-item::marker {
  color: transparent;
}