.fact-box {
  margin-bottom: var(--vertical-rhythm-spacing);
  border: var(--fact-box-border);
  border-color: var(--fact-box-border-color);
  text-align: center;
}

.fact-box--has-bg {
  padding: 
    var(--fact-box-padding-vertical) 
    var(--fact-box-padding-horizontal) 
    calc(var(--fact-box-padding-vertical) - var(--vertical-rhythm-spacing));
}

.fact-box--fact-box-light {
  background-color: var(--fact-box-bg-light);
}

.fact-box--fact-box-dark {
  background-color: var(--fact-box-bg-dark);
  color: var(--color-white);
}

.fact-box--fact-box-accent {
  background-color: var(--color-accent);
  color: var(--fact-box-text-color-accent);
}

.fact-box--fade-red-blue {
  background-image: linear-gradient(var(--fact-box-red), var(--fact-box-blue));
  color: var(--color-white);
}

.fact-box__opening,
.fact-box__closing {
  font-size: var(--fact-box-title);
}

.fact-box__fact {
  font-size: var(--fact-box-fact);
}