.featured-subsite {
  padding-block-end: var(--spacing);
  background-color: var(--featured-subsite-bg-color);
}
.featured-subsite > * {
  margin-block-end: var(--vertical-rhythm-spacing);
}

.featured-subsite > *:not(.featured-subsite__image) {
  margin-inline: var(--spacing-larger);
}

.featured-subsite__image img {
  width: 100%;
}
