.lgd-footer__pre-footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: white;
  background-color: #505a5f;
}

.lgd-footer__pre-footer a {
  color: white;
}
.lgd-footer__pre-footer a:focus {
  color: #505a5f;
}

.lgd-footer__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.lgd-footer__post-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}
