.form-item--error {
  padding: 1rem;
  border: 2px dashed #e4251b;
}

.form-item--error-message {
  padding: 1rem;
  border: 1px solid #e4251b;
}

.fieldset-wrapper .form-item--error-message {
  margin-bottom: 1rem;
  border-bottom: 1px solid #e4251b;
}