.lgd-guide-nav {
  margin-bottom: var(--vertical-rhythm-spacing);
  padding: var(--section-spacing-vertical-guide-nav) var(--section-spacing-horizontal-guide-nav);
  background-color: var(--color-grey-lighter);
}

.lgd-guide-nav__list {
  margin-bottom: 0;
}

@media screen and (min-width: 48rem) {
  .lgd-guide-nav__list {
    column-count: var(--guide-nav-column-count);
  }
}

.lgd-guide-nav__list-item {
  margin-bottom: var(--spacing);
  font-size: var(--font-size-large);
  break-inside: avoid-column;
}

.lgd-guide-nav__list-item > a {
  display: inline;
  font-weight: bold;
}

.lgd-guide-nav__list-item--active {
  font-weight: bold;
}

.lgd-guide-nav__list-item > a {
  font-weight: normal;
}

.block-localgov-guides-contents {
  margin-top: var(--spacing-largest);
  margin-bottom: var(--spacing-largest);
}

.lgd-prev-next__link {
  flex-wrap: wrap;
  padding: var(--spacing-smaller);
  text-decoration: none;
}

.lgd-prev-next__link  > .lgd-prev-next__label {
  font-weight: bold;
}

a.lgd-prev-next__link .lgd-prev-next__label {
  font-weight: bold;
}

.lgd-prev-next__icon {
  margin-top: 3px;
}

.lgd-prev-next__title {
  width: 100%;
}

.lgd-prev-next__list-item--prev .lgd-prev-next__title {
  padding-left: var(--spacing-large);
}
