.lgd-guide-nav {
  margin-bottom: var(--vertical-rhythm-spacing);
  padding: var(--section-spacing-vertical-guide-nav) var(--section-spacing-horizontal-guide-nav);
  background-color: var(--color-grey-light);
}

.lgd-guide-nav__list {
  margin-bottom: 0;
}

@media screen and (min-width: 48rem) {
  .lgd-guide-nav__list {
    column-count: 3;
  }
}

.lgd-guide-nav__list-item {
  margin-bottom: var(--spacing);
  font-size: var(--font-size-large);
}

.lgd-guide-nav__list-item > a {
  font-weight: bold;
}

/* Overrides for Dashes List Type */
.lgd-guide-nav__list--dashes {
  list-style: none;
  padding-left: 0;
}

.lgd-guide-nav__list--dashes .lgd-guide-nav__list-item {
  position: relative;
  padding-left: 1rem;
}
.lgd-guide-nav__list--dashes .lgd-guide-nav__list-item::before {
  position: absolute;
  left:  0;
  width: 1rem;
  content: "-";
}