/* IE11 Fallbacks */

.lgd-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #652c95;
}

.lgd-header .lgd-region--header {
  margin-right: 2rem;
}

.lgd-header__toggle {
  margin-left: 1rem;
  padding: 1rem;
  font-size: 1rem;
}
.lgd-header__toggle:focus,
.lgd-header__toggle:hover {
  color: black;
  background-color: white;
}

.lgd-header__toggle-icon {
  margin-left: 0.5rem;
}

.lgd-header__toggle-icon::after {
  margin-left: 0.5rem;
  font-size: 1.6875rem;
}

.lgd-header a {
  color: white;
}

.branding__item--logo {
  width: 160px;
}

.branding__item--logo a:focus {
  outline-color: white;
}

.branding__item--slogan {
  color: white;
}

.lgd-header__nav--primary,
.lgd-header__nav--secondary {
  margin-right: 1rem;
  margin-left: 1rem;
}

.lgd-region--search {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.lgd-region--search form {
  display: flex;
  align-items: center;
}

.lgd-region--search label {
  color: white;
}

.lgd-region--search .form-text {
  border: 0;
}

.lgd-region--search .form-submit {
  color: white;
  background-color: #652c95;
}
.lgd-region--search .form-submit:hover,
.lgd-region--search .form-submit:focus {
  color: #652c95;
  background-color: white;
}

/* Overrides for Specific Toggles */
.lgd-header__toggles {
  margin-right: 1rem;
}
