
.ia-block {
  margin-bottom: var(--spacing);
  background-color: var(--ia-block-bg-color);
}

.ia-block--promoted {
  padding: var(--spacing);
  border: var(--border-large);
  border-color: var(--color-accent);
  background-color: var(--ia-block-bg-color-promoted);
}

.ia-block__title {
  margin-top: 0;
}

.ia-block li {
  margin-bottom: 0.5rem;
}
.ia-block li:last-of-type {
  margin-bottom: 0;
}