.link-block__title-wrapper {
  display: flex;
  align-items: center;
  margin-block-end: var(--vertical-rhythm-spacing);
}

.link-block__title-icon {
  flex-shrink: 0;
  margin-inline-end: var(--link-and-summary-title-icon-margin);
}

.link-block__title {
  margin-block-end: 0;
}
