.link-wrapper {
  display: flex;
  align-items: center;
}

.link-icon {
  flex-shrink: 0;
  margin-right: var(--link-icon-margin);
}

.link--button-style .link-wrapper {
  padding:
  var(--button-padding-vertical) var(--button-padding-horizontal)
  var(--button-padding-vertical) var(--button-padding-horizontal);
  cursor: pointer;
  border: var(--border);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg-color);
  font-family: var(--button-font-family);
  font-size: var(--font-size-medium);
  color: var(--button-text-color);
}

.link--button-style .lgd-icon {
  fill: var(--button-text-color);
}

.link--button-style:hover .lgd-icon, 
.link--button-style:focus .lgd-icon {
  fill: var(--button-text-color-hover);
}

.link--button-style a {
  color: inherit;
  text-decoration: none;
}

.link--button-style:focus .link-wrapper,
.link--button-style:hover .link-wrapper {
  text-decoration: underline;
  color: var(--button-text-color-hover);
  background-color: var(--button-bg-color-hover);
}
