/* IE11 Fallbacks */
.menu--main > .menu-item a {
  padding: 1rem 0.5rem;
}

.menu--main > .menu-item a:focus,
.menu--main > .menu-item a:hover {
  color: black;
  background-color: white;
}

@media screen and (min-width: 48rem) {
  .menu--main > .menu-item a:hover {
    border-color: white;
  }
}

/* Modern Browsers */
.menu--main {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu--main > .menu-item a {
  display: block;
  padding: var(--spacing);
}

.menu--main > .menu-item--active-trail a,
.menu--main > .menu-item a:focus,
.menu--main > .menu-item a:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

@media screen and (min-width: 48rem) {
  .menu--main {
    display: flex;
  }
  
  .menu--main > .menu-item a {
    border: 1px solid transparent;
  }

  .menu--main > .menu-item a:hover {
    border-color: var(--color-white);
  }
}