/*
  @file Theming main menu.
*/
.lgd-region--primary-menu {
  background-color: var(--color-white);
}

.menu--main {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu--main > .menu-item a {
  display: block;
  padding: var(--spacing);
  color: var(--color-black);
}

.menu--main > .menu-item--active-trail a,
.menu--main > .menu-item a:focus,
.menu--main > .menu-item a:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

@media screen and (min-width: 48rem) {
  .lgd-region--primary-menu {
    background-color: transparent;
  }

  .lgd-region--primary-menu .menu--main {
    display: flex;
  }

  .menu--main > .menu-item {
    margin-right: var(--spacing-smaller);
    margin-left: var(--spacing-smaller);
  }

  .menu--main > .menu-item a {
    color: var(--color-white);
    border: 1px solid transparent;
    background-color: transparent;
  }

  .menu--main > .menu-item--active-trail a,
  .menu--main > .menu-item a:focus,
  .menu--main > .menu-item a:hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  .menu--main > .menu-item a:hover {
    border-color: var(--color-white);
  }
}
