.newsroom__featured-news {
  margin-bottom: 3rem;
}

.news-article__metadata-item + .news-article__metadata-item {
  margin-top: 1.5rem;
}

.news-article__category + .news-article__category {
  margin-left: 1rem;
}
