.lgd-page-section {
  color: var(--color-page-section-text-color);
  background-color: var(--color-page-section-background-color);
}
.lgd-page-section--bg-colour-1 {
  --color-page-section-background-color: var(--color-page-section-background-color-1);
  --color-page-section-text-color: var(--color-page-section-background-color-1-text-color);
}
.lgd-page-section--bg-colour-2 {
  --color-page-section-background-color: var(--color-page-section-background-color-2);
  --color-page-section-text-color: var(--color-page-section-background-color-2-text-color);
}
.lgd-page-section--bg-colour-3 {
  --color-page-section-background-color: var(--color-page-section-background-color-3);
  --color-page-section-text-color: var(--color-page-section-background-color-3-text-color);
}
/*
  Adding 3 extra colour options here, so they are available if
  other subthemes/sites need them.
*/
.lgd-page-section--bg-colour-4 {
  --color-page-section-background-color: var(--color-page-section-background-color-4);
  --color-page-section-text-color: var(--color-page-section-background-color-4-text-color);
}
.lgd-page-section--bg-colour-5 {
  --color-page-section-background-color: var(--color-page-section-background-color-5);
  --color-page-section-text-color: var(--color-page-section-background-color-5-text-color);
}
.lgd-page-section--bg-colour-6 {
  --color-page-section-background-color: var(--color-page-section-background-color-6);
  --color-page-section-text-color: var(--color-page-section-background-color-6-text-color);
}

.lgd-page-section--padding-top-small {
  padding-top: var(--spacing-small);
}
.lgd-page-section--padding-top-medium {
  padding-top: var(--spacing);
}
.lgd-page-section--padding-top-large {
  padding-top: var(--spacing-large);
}
.lgd-page-section--padding-top-larger {
  padding-top: var(--spacing-larger);
}
.lgd-page-section--padding-top-largest {
  padding-top: var(--spacing-largest);
}

.lgd-page-section--padding-bottom-small {
  padding-bottom: var(--spacing-small);
}
.lgd-page-section--padding-bottom-medium {
  padding-bottom: var(--spacing);
}
.lgd-page-section--padding-bottom-large {
  padding-bottom: var(--spacing-large);
}
.lgd-page-section--padding-bottom-larger {
  padding-bottom: var(--spacing-larger);
}
.lgd-page-section--padding-bottom-largest {
  padding-bottom: var(--spacing-largest);
}

.lgd-page-section--bg-colour-1,
.lgd-page-section--bg-colour-1 h2,
.lgd-page-section--bg-colour-1 h3,
.lgd-page-section--bg-colour-1 h4,
.lgd-page-section--bg-colour-1 h5,
.lgd-page-section--bg-colour-1 h6 {
  color: var(--color-page-section-background-color-1-text-color);
}

.lgd-page-section--bg-colour-1 a,
.lgd-page-section--bg-colour-1 h2 a,
.lgd-page-section--bg-colour-1 h3 a,
.lgd-page-section--bg-colour-1 h4 a,
.lgd-page-section--bg-colour-1 h5 a,
.lgd-page-section--bg-colour-1 h6 a {
  color: var(--color-page-section-background-color-1-link-color);
}

.lgd-page-section--bg-colour-2,
.lgd-page-section--bg-colour-2 h2,
.lgd-page-section--bg-colour-2 h3,
.lgd-page-section--bg-colour-2 h4,
.lgd-page-section--bg-colour-2 h5,
.lgd-page-section--bg-colour-2 h6 {
  color: var(--color-page-section-background-color-2-text-color);
}
.lgd-page-section--bg-colour-2 a,
.lgd-page-section--bg-colour-2 h2 a,
.lgd-page-section--bg-colour-2 h3 a,
.lgd-page-section--bg-colour-2 h4 a,
.lgd-page-section--bg-colour-2 h5 a,
.lgd-page-section--bg-colour-2 h6 a {
  color: var(--color-page-section-background-color-2-link-color);
}

.lgd-page-section--bg-colour-3,
.lgd-page-section--bg-colour-3 h2,
.lgd-page-section--bg-colour-3 h3,
.lgd-page-section--bg-colour-3 h4,
.lgd-page-section--bg-colour-3 h5,
.lgd-page-section--bg-colour-3 h6 {
  color: var(--color-page-section-background-color-3-text-color);
}
.lgd-page-section--bg-colour-3 a,
.lgd-page-section--bg-colour-3 h2 a,
.lgd-page-section--bg-colour-3 h3 a,
.lgd-page-section--bg-colour-3 h4 a,
.lgd-page-section--bg-colour-3 h5 a,
.lgd-page-section--bg-colour-3 h6 a {
  color: var(--color-page-section-background-color-3-link-color);
}

.lgd-page-section--bg-colour-4,
.lgd-page-section--bg-colour-4 h2,
.lgd-page-section--bg-colour-4 h3,
.lgd-page-section--bg-colour-4 h4,
.lgd-page-section--bg-colour-4 h5,
.lgd-page-section--bg-colour-4 h6 {
  color: var(--color-page-section-background-color-4-text-color);
}
.lgd-page-section--bg-colour-4 a,
.lgd-page-section--bg-colour-4 h2 a,
.lgd-page-section--bg-colour-4 h3 a,
.lgd-page-section--bg-colour-4 h4 a,
.lgd-page-section--bg-colour-4 h5 a,
.lgd-page-section--bg-colour-4 h6 a {
  color: var(--color-page-section-background-color-4-link-color);
}

.lgd-page-section--bg-colour-5,
.lgd-page-section--bg-colour-5 h2,
.lgd-page-section--bg-colour-5 h3,
.lgd-page-section--bg-colour-5 h4,
.lgd-page-section--bg-colour-5 h5,
.lgd-page-section--bg-colour-5 h6 {
  color: var(--color-page-section-background-color-5-text-color);
}
.lgd-page-section--bg-colour-5 a,
.lgd-page-section--bg-colour-5 h2 a,
.lgd-page-section--bg-colour-5 h3 a,
.lgd-page-section--bg-colour-5 h4 a,
.lgd-page-section--bg-colour-5 h5 a,
.lgd-page-section--bg-colour-5 h6 a {
  color: var(--color-page-section-background-color-5-link-color);
}

.lgd-page-section--bg-colour-6,
.lgd-page-section--bg-colour-6 h2,
.lgd-page-section--bg-colour-6 h3,
.lgd-page-section--bg-colour-6 h4,
.lgd-page-section--bg-colour-6 h5,
.lgd-page-section--bg-colour-6 h6 {
  color: var(--color-page-section-background-color-6-text-color);
}
.lgd-page-section--bg-colour-6 a,
.lgd-page-section--bg-colour-6 h2 a,
.lgd-page-section--bg-colour-6 h3 a,
.lgd-page-section--bg-colour-6 h4 a,
.lgd-page-section--bg-colour-6 h5 a,
.lgd-page-section--bg-colour-6 h6 a {
  color: var(--color-page-section-background-color-6-link-color);
}

/* Newsroom Teasers */
.lgd-page-section--bg-colour-1 .newsroom-teaser {
  color: var(--color-page-section-background-color-1-newsroom-teaser-text-color);
  background-color: var(--color-page-section-background-color-1-newsroom-teaser-background-color);
}
.lgd-page-section--bg-colour-1 .newsroom-teaser a {
  color: var(--color-page-section-background-color-1-newsroom-teaser-link-color);
}
.lgd-page-section--bg-colour-2 .newsroom-teaser {
  color: var(--color-page-section-background-color-2-newsroom-teaser-text-color);
  background-color: var(--color-page-section-background-color-2-newsroom-teaser-background-color);
}
.lgd-page-section--bg-colour-2 .newsroom-teaser a {
  color: var(--color-page-section-background-color-2-newsroom-teaser-link-color);
}
.lgd-page-section--bg-colour-3 .newsroom-teaser {
  color: var(--color-page-section-background-color-3-newsroom-teaser-text-color);
  background-color: var(--color-page-section-background-color-3-newsroom-teaser-background-color);
}
.lgd-page-section--bg-colour-3 .newsroom-teaser a {
  color: var(--color-page-section-background-color-3-newsroom-teaser-link-color);
}
.lgd-page-section--bg-colour-4 .newsroom-teaser {
  color: var(--color-page-section-background-color-4-newsroom-teaser-text-color);
  background-color: var(--color-page-section-background-color-4-newsroom-teaser-background-color);
}
.lgd-page-section--bg-colour-4 .newsroom-teaser a {
  color: var(--color-page-section-background-color-4-newsroom-teaser-link-color);
}
.lgd-page-section--bg-colour-5 .newsroom-teaser {
  color: var(--color-page-section-background-color-5-newsroom-teaser-text-color);
  background-color: var(--color-page-section-background-color-5-newsroom-teaser-background-color);
}
.lgd-page-section--bg-colour-5 .newsroom-teaser a {
  color: var(--color-page-section-background-color-5-newsroom-teaser-link-color);
}
.lgd-page-section--bg-colour-6 .newsroom-teaser {
  color: var(--color-page-section-background-color-6-newsroom-teaser-text-color);
  background-color: var(--color-page-section-background-color-6-newsroom-teaser-background-color);
}
.lgd-page-section--bg-colour-6 .newsroom-teaser a {
  color: var(--color-page-section-background-color-6-newsroom-teaser-link-color);
}

/* Box Links */
.lgd-page-section--bg-colour-1 .box-link {
  color: var(--color-page-section-background-color-1-box-link-text-color);
  border-color: var(--color-page-section-background-color-1-box-link-border-color);
  background-color: var(--color-page-section-background-color-1-box-link-background-color);
}
.lgd-page-section--bg-colour-1 .box-link a {
  color: var(--color-page-section-background-color-1-box-link-link-color);
}
.lgd-page-section--bg-colour-2 .box-link {
  color: var(--color-page-section-background-color-2-box-link-text-color);
  border-color: var(--color-page-section-background-color-2-box-link-border-color);
  background-color: var(--color-page-section-background-color-2-box-link-background-color);
}
.lgd-page-section--bg-colour-2 .box-link a {
  color: var(--color-page-section-background-color-2-box-link-link-color);
}
.lgd-page-section--bg-colour-3 .box-link {
  color: var(--color-page-section-background-color-3-box-link-text-color);
  border-color: var(--color-page-section-background-color-3-box-link-border-color);
  background-color: var(--color-page-section-background-color-3-box-link-background-color);
}
.lgd-page-section--bg-colour-3 .box-link a {
  color: var(--color-page-section-background-color-3-box-link-link-color);
}
.lgd-page-section--bg-colour-4 .box-link {
  color: var(--color-page-section-background-color-4-box-link-text-color);
  border-color: var(--color-page-section-background-color-4-box-link-border-color);
  background-color: var(--color-page-section-background-color-4-box-link-background-color);
}
.lgd-page-section--bg-colour-4 .box-link a {
  color: var(--color-page-section-background-color-4-box-link-link-color);
}
.lgd-page-section--bg-colour-5 .box-link {
  color: var(--color-page-section-background-color-5-box-link-text-color);
  border-color: var(--color-page-section-background-color-5-box-link-border-color);
  background-color: var(--color-page-section-background-color-5-box-link-background-color);
}
.lgd-page-section--bg-colour-5 .box-link a {
  color: var(--color-page-section-background-color-5-box-link-link-color);
}
.lgd-page-section--bg-colour-6 .box-link {
  color: var(--color-page-section-background-color-6-box-link-text-color);
  border-color: var(--color-page-section-background-color-6-box-link-border-color);
  background-color: var(--color-page-section-background-color-6-box-link-background-color);
}
.lgd-page-section--bg-colour-6 .box-link a {
  color: var(--color-page-section-background-color-6-box-link-link-color);
}

/* Featured Subsites */
.lgd-page-section--bg-colour-1 .featured-subsite {
  color: var(--color-page-section-background-color-1-featured-subsite-text-color);
  background-color: var(--color-page-section-background-color-1-featured-subsite-background-color);
}
.lgd-page-section--bg-colour-1 .featured-subsite a {
  color: var(--color-page-section-background-color-1-featured-subsite-link-color);
}
.lgd-page-section--bg-colour-2 .featured-subsite {
  color: var(--color-page-section-background-color-2-featured-subsite-text-color);
  background-color: var(--color-page-section-background-color-2-featured-subsite-background-color);
}
.lgd-page-section--bg-colour-2 .featured-subsite a {
  color: var(--color-page-section-background-color-2-featured-subsite-link-color);
}
.lgd-page-section--bg-colour-3 .featured-subsite {
  color: var(--color-page-section-background-color-3-featured-subsite-text-color);
  background-color: var(--color-page-section-background-color-3-featured-subsite-background-color);
}
.lgd-page-section--bg-colour-3 .featured-subsite a {
  color: var(--color-page-section-background-color-3-featured-subsite-link-color);
}
.lgd-page-section--bg-colour-4 .featured-subsite {
  color: var(--color-page-section-background-color-4-featured-subsite-text-color);
  background-color: var(--color-page-section-background-color-4-featured-subsite-background-color);
}
.lgd-page-section--bg-colour-4 .featured-subsite a {
  color: var(--color-page-section-background-color-4-featured-subsite-link-color);
}
.lgd-page-section--bg-colour-5 .featured-subsite {
  color: var(--color-page-section-background-color-5-featured-subsite-text-color);
  background-color: var(--color-page-section-background-color-5-featured-subsite-background-color);
}
.lgd-page-section--bg-colour-5 .featured-subsite a {
  color: var(--color-page-section-background-color-5-featured-subsite-link-color);
}
.lgd-page-section--bg-colour-6 .featured-subsite {
  color: var(--color-page-section-background-color-6-featured-subsite-text-color);
  background-color: var(--color-page-section-background-color-6-featured-subsite-background-color);
}
.lgd-page-section--bg-colour-6 .featured-subsite a {
  color: var(--color-page-section-background-color-6-featured-subsite-link-color);
}
