.lgd-page-section--bg-colour-1 {
  background-color: #652c95;
}
.lgd-page-section--bg-colour-2 {
  background-color: #fd0;
}
.lgd-page-section--bg-colour-3 {
  background-color: #f9f9f9;
}

.lgd-page-section--padding-top-small {
  padding-top: 0.75rem;
}
.lgd-page-section--padding-top-medium {
  padding-top: 1rem;
}
.lgd-page-section--padding-top-large {
  padding-top: 1.5rem;
}

.lgd-page-section--padding-bottom-small {
  padding-bottom: 0.75rem;
}
.lgd-page-section--padding-bottom-medium {
  padding-bottom: 1rem;
}
.lgd-page-section--padding-bottom-large {
  padding-bottom: 1.5rem;
}

.lgd-page-section--bg-colour-1,
.lgd-page-section--bg-colour-1 h2,
.lgd-page-section--bg-colour-1 h3,
.lgd-page-section--bg-colour-1 h4,
.lgd-page-section--bg-colour-1 h5,
.lgd-page-section--bg-colour-1 h6 {
  color: white;
}

.lgd-page-section--bg-colour-1 .newsroom-teaser {
  color: black;
  background-color: white;
}

.lgd-page-section--bg-colour-1 .box-link {
  border-color: white;
  background-color: white;
}

.lgd-page-section--bg-colour-1 .featured-subsite__summary {
  color: black;
}
