.pager__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

.pager__item {
  margin-right: var(--spacing-smaller);
  margin-left: var(--spacing-smaller);
}

.pager__item::marker {
  color: transparent;
}
