.preview-link-form {
  max-width: var(--width-container);
  margin-right: auto;
  margin-bottom: var(--spacing);
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}