.pull-out-quote {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: var(--quote-padding);
  padding-left: var(--quote-padding-left);
  border-color: var(--quote-border-color);
  border-left: var(--quote-border);
  background-color: var(--quote-bg-color);
}

.pull-out-quote__content {
  margin: 0;
}

.pull-out-quote__author {
  margin-top: var(--vertical-rhythm-spacing);
  color: var(--quote-author-color);
  font-weight: bold;
}
