.pull-out-quote {
  margin-block-start: 0;
  margin-inline: 0;
  padding: var(--quote-padding);
  padding-inline-start: var(--quote-padding-inline-start);
  border-color: var(--quote-border-color);
  border-inline-start: var(--quote-border);
  background-color: var(--quote-bg-color);
}

.pull-out-quote__content {
  margin: 0;
}

.pull-out-quote__author {
  margin-block-start: var(--vertical-rhythm-spacing);
  color: var(--quote-author-color);
  font-weight: bold;
}
