/* Theming Secondary Nav (services list region) */
.region-secondary-menu {
  margin-top: var(--spacing);
  background-color: var(--secondary-menu-bg-color-first);
}

.lgd-region__inner--secondary-menu {
  padding: var(--spacing-large) var(--spacing-large) var(--spacing) 0;
  background-color: var(--secondary-menu-bg-color-second);
}

.lgd-region__inner--secondary-menu .block-menu > h2 {
  padding-left: var(--spacing-large);
}

.menu--services-list {
  overflow-y: auto;
  max-height: 400px;
}

@media screen and (min-width: 48rem) {
  .region-secondary-menu {
    background-color: var(--secondary-menu-bg-color-second);
  }

  .lgd-region__inner--secondary-menu {
    background-color: var(--secondary-menu-bg-color-second);
  }

  .menu--services-list {
    overflow-y: initial;
    max-height: auto;
    column-count: var(--secondary-menu-column-count);
  }
}

.region-secondary-menu .menu-item {
  margin-bottom: var(--spacing);
}

.region-secondary-menu .menu-item > a {
  color: var(--secondary-menu-link-color);
}

.region-secondary-menu .menu-item > a:focus {
  color: var(--secondary-menu-link-color-focus);
}
