/* Theming Secondary Nav (services list region) */
.region-secondary-menu {
  margin-block-start: var(--spacing);
  background-color: var(--secondary-menu-bg-color-first);
}

.lgd-region__inner--secondary-menu {
  padding: var(--spacing-large) var(--spacing-large) var(--spacing) 0;
  background-color: var(--secondary-menu-bg-color-second);
}

.lgd-region__inner--secondary-menu .block-menu > h2 {
  padding-inline-start: var(--spacing-large);
}

.region-secondary-menu .menu {
  overflow-y: auto;
  max-height: 400px;
}

@media screen and (min-width: 48rem) {
  .region-secondary-menu {
    background-color: var(--secondary-menu-bg-color-second);
  }

  .lgd-region__inner--secondary-menu {
    background-color: var(--secondary-menu-bg-color-second);
  }

  .region-secondary-menu .menu {
    overflow-y: initial;
    max-height: none;
    column-count: var(--secondary-menu-column-count);
  }
}

.region-secondary-menu .menu-item {
  margin-block-end: var(--spacing);
}

.region-secondary-menu .menu-item > a {
  color: var(--secondary-menu-link-color);
}

.region-secondary-menu .menu-item > a:focus {
  color: var(--secondary-menu-link-color-focus);
}
