.slp__contact {
  background-color: var(--color-grey-light);
  border-left: var(--border-width-large) var(--border-style) var(--color-accent);
  padding: var(--spacing);
  margin-bottom: var(--vertical-rhythm-spacing);
}

.slp__contact-list-item,
.slp__contact-title {
  display: flex;
}

.slp__contact-icon {
  margin-right: var(--spacing-smaller);
  line-height: 1;
}

.slp__contact h3 {
  margin-bottom: 0;
}

.slp__contact-containers {
  border-bottom: var(--border);
  border-bottom-color: var(--color-grey-medium);
  margin-bottom: var(--vertical-rhythm-spacing);
}

.slp__service {
  display: flex;
}

.slp__service-icon svg {
  flex-shrink: 0;
  margin-right: var(--spacing-small);
}