.service-landing-page__contact {
  margin-block-end: var(--vertical-rhythm-spacing);
  padding: var(--spacing);
  border-inline-start: var(--border-width-large) var(--border-style) var(--color-accent);
  background-color: var(--color-grey-lighter);
}

.service-landing-page__contact-list {
  padding-inline-start: 0;
}

.service-landing-page__contact-list-item,
.service-landing-page__contact-title {
  display: flex;
  align-items: center;
}

.service-landing-page__contact-list-item + .service-landing-page__contact-list-item {
  margin-block-start: var(--spacing-smaller);
}

.service-landing-page__contact-map {
  display: flex;
  align-items: center;
}

.service-landing-page__contact-icon {
  margin-inline-end: var(--spacing-smaller);
  line-height: 1;
}

.service-landing-page__contact h3 {
  margin-block-end: 0;
}

.service-landing-page__contact-containers {
  margin-block-end: var(--vertical-rhythm-spacing);
  padding-block-end: var(--vertical-rhythm-spacing);
  border-block-end: var(--border);
  border-block-end-color: var(--color-grey-medium);
}

.service-landing-page__service {
  display: flex;
}

.service-landing-page__service-icon svg {
  flex-shrink: 0;
  margin-inline-end: var(--spacing-small);
}
