.service-landing-page__contact {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-left: 5px solid #652c95;
  background-color: #f3f2f1;
}

.service-landing-page__contact-icon {
  margin-right: 0.5rem;
}

.service-landing-page__contact-containers {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #b1b4b6;
}
