.sctab__list {
  padding-left: 0;
  list-style: none;
  border-bottom: var(--border);
}

.sctab__list-item {
  margin-bottom: var(--vertical-rhythm-spacing);
}

.sctab__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-info);
}

.sctab__link:hover {
  background-color: var(--color-accent);
  text-decoration: underline;
}

.sctab__link--cta-action {
  background-color: var(--color-success);
}

.sctab__link-icon {
  position: relative;
  left: 0;
  line-height: 1;
  transition: var(--transition-time);
}

.sctab__link-icon svg {
  max-width: 1rem;
  height: auto;
}

.sctab__link-icon svg path {
  fill: var(--color-white);
}

.sctab__link:focus .sctab__link-icon,
.sctab__link:hover .sctab__link-icon {
  left: var(--spacing-smallest);
}

.sctab__link:focus .sctab__link-icon svg path {
  fill: var(--color-accent);
}