.service-cta-block__list {
  border-bottom: 1px solid #f3f2f1;
}

.service-cta-block__list-item {
  margin-bottom: 1.5rem;
}

.service-cta-block__link {
  padding: 1rem;
  color: white;
  background-color: #297bbb;
}

.service-cta-block__link:hover {
  color: black;
  background-color: #fd0;
}

.service-cta-block__link--cta-action {
  background-color: #048a04;
}

.service-cta-block__link-icon {
  transition: 0.3s;
}

.service-cta-block__link-icon svg path {
  fill: white;
}

.service-cta-block__link:focus .service-cta-block__link-icon,
.service-cta-block__link:hover .service-cta-block__link-icon {
  left: 0.25rem;
}

.service-cta-block__link:focus .service-cta-block__link-icon svg path {
  fill: #652c95;
}
