.sidebar .lgd-region__inner > * {
  padding: 2rem;
  background-color: #f3f2f1;
}

.sidebar .lgd-region__inner > * + *,
.sidebar .views-exposed-form .form-item + .form-item,
.sidebar .views-exposed-form .form-item + .form-actions {
  margin-top: 1rem;
}