.lgd-search-results-list__header-container {
  padding: var(--sitewide-search-header-container-padding-vertical) var(--sitewide-search-header-container-padding-horizontal);
  border: var(--border);
  border-radius: var(--border-radius);
}

.lgd-search-results-list .view-header {
  margin-block-end: var(--vertical-rhythm-spacing);
}

.lgd-search-results-list .views-exposed-form {
  display: flex;
  align-items: end;
}

.lgd-search-results-list .form-item {
  margin-block-end: 0;
}

.lgd-search-results-list > * {
  margin-block-end: var(--search-results-item-spacing);
}

.lgd-search-results-list .views-exposed-form {
  display: flex;
  flex-wrap: wrap;
}

.lgd-search-results-list .item-list > * {
  padding-inline-start: 0;
}

.lgd-search-results-list .item-list > * li {
  margin-block-end: var(--search-results-item-spacing);
  padding-block-end: var(--search-results-item-spacing);
  border-block-end: var(--search-results-list-item-border);
}

.lgd-search-results-list .item-list > * li::marker {
  color: var(--search-results-list-item-marker-color);
}

.search-result > .search-result__content > .field > *:last-of-type {
  margin-block-end: 0;
}
