.lgd-search-results-list__header-container {
  padding: 1rem;
  border: 1px solid #f3f2f1;
  border-radius: 4px;
}

.lgd-search-results-list .view-header {
  margin-bottom: 1.5rem;
}

.lgd-search-results-list > * {
  margin-bottom: 1.5rem;
}

.lgd-search-results-list .item-list > * li {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #f3f2f1;
}

.lgd-search-results-list .item-list > * li::marker {
  color: #652c95;
}
