/* Block container for step-by-step */
.step-by-step-pages__relationship {
  border-left-color: var(--step-by-step-relationship-border-color);
}

/* Sidebar Block Header */
@media screen and (min-width: 48rem) {
  .block-views-blocklocalgov-step-by-step-navigation-steps .step-by-step-pages__relationship {
    display: none;
  }
}

.step-by-step-pages__relationship .step-by-step-pages__part-of {
  color: var(--step-by-step-part-of-color);
}

/* Active step title */
.step-by-step-pages ol.step-list .step.step--active .step__title a {
  color: var(--step-by-step-active-item-color);
}

/* The bullet numbers beside each step */
.step-by-step-pages ol.step-list .step.step--active::before {
  border-color: var(--step-by-step-active-bullet-border-color);
  background-color: var(--step-by-step-active-bullet-bg-color);
}

/* The border from the active step to the next one */
.step-by-step-pages ol.step-list .step.step--active:not(:last-of-type)::after {
  border: var(--step-by-step-line-joining-items-border);
  border-color: var(--step-by-step-line-joining-items-color);
}

.block-views-blocklocalgov-step-by-step-navigation-steps-for-overview {
  max-width: var(--step-by-step-nav-block-width);
}

/* Focus states on step by step navigation buttons */
.step-by-step-pages .step-master:focus, .step-by-step-pages .step-master:hover, .step-by-step-pages .step-master:active, .step-by-step-pages ol.step-list .step .step__title .step-show:focus, .step-by-step-pages ol.step-list .step .step__title .step-show:hover, .step-by-step-pages ol.step-list .step .step__title .step-show:active {
    text-decoration: none;
    color: var(--color-black);
    outline: 3px solid transparent;
    background-color: var(--color-focus);
    -webkit-box-shadow: 0 -2px var(--color-focus),0 4px var(--color-black);
    box-shadow: 0 -2px var(--color-focus),0 4px var(--color-black);
    -webkit-box-decoration-break: clone;
}

