.sticky-header--sticky .lgd-header {
  top: var(--lgd-sticky-header-position);
  width: 100%;
  z-index: 1000;
}

.sticky-header--sticky .lgd-header + * {
  margin-top: calc(var(--lgd-sticky-header-position) + var(--lgd-sticky-header-height));
}
