.sticky-header--sticky .lgd-header {
  z-index: 1000;
  top: var(--lgd-sticky-header-position);
  width: 100%;
}

.sticky-header--sticky .lgd-header + * {
  margin-block-start: calc(var(--lgd-sticky-header-position) + var(--lgd-sticky-header-height));
  scroll-padding: var(--lgd-sticky-header-height);
}

.sticky-header-html,
.sticky-header--sticky {
  scroll-padding-block-start: var(--lgd-sticky-header-height);
}
