.tabs--initialised .tab-panel {
  border: 1px solid #505a5f;
}

.tabs--initialised .tabs__controls button {
  color: #505a5f;
  border: 1px solid #505a5f;
  background: #f3f2f1;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.tabs--initialised .tabs__controls [aria-selected="true"] {
  border-bottom-color: white;
  background-color: white;
}
