.tabs--initialised .tab-panel {
  display: none;
  padding: 1rem;
  border: var(--tabs-border);
  border-color: var(--tabs-border-color);
}

.tabs--initialised .tab-panel--active {
  display: block;
}

.tabs--initialised .tabs__controls {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs--initialised .tabs__controls li {
  margin: 0;
}

.tabs--initialised .tabs__controls button {
  border: var(--tabs-border);
  border-color: var(--tabs-border-color);
  color: var(--tabs-text-color);
  background: var(--tabs-button-bg-color);
  cursor: pointer;
}

.tabs--initialised .tabs__controls [aria-selected="true"] {
  background-color: var(--tabs-button-active-color);
  border-bottom-color: var(--tabs-button-active-color);
}

.tabs--initialised .tabs__controls > li + li button {
  border-left: none;
}