@media screen and (min-width: 48rem) {
  .lgd-teaser__image {
    width: 33%;
  }
}

.lgd-teaser-list .views-row,
.lgd-teaser-list .service-landing-page__service {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #f3f2f1;
}