@media screen and (min-width: 48rem) {
  .lgd-teaser__image {
    width: 33%;
  }
  .newsroom__featured-news .lgd-teaser {
    height: 100%;
    border: 1px solid #b1b4b6;
  }
  .newsroom__featured-news .lgd-teaser__content {
    padding: 2rem;
  }
}

.lgd-teaser-list .views-row,
.lgd-teaser-list .service-landing-page__service {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #f3f2f1;
}