.lgd-term--content__image img {
  width: 100%;
}

@media screen and (min-width: 48rem) {

  .lgd-term--content {
    display: flex;
    margin-bottom: var(--blog-author-content-margin);
  }


  .lgd-term--content__image {
    flex-shrink: 0;
    width: var(--blog-author-image-width);
  }

  .lgd-term--content__image ~ .field--name-description {
    margin-left: var(--vertical-rhythm-spacing);
  }
}
