.lgd-topic-list-builder__service-icon svg {
  margin-right: 0.75rem;
}

.lgd-topic-list-builder .field--name-topic-list-term {
  margin-bottom: 1.5rem;
}

.lgd-topic-list-builder__show-more {
  margin-bottom: 1.5rem;
}

.lgd-topic-list-builder__show-more .lgd-icon {
  margin-right: 0.5rem;
}