/*
  @file Theming the topic list paragraph type.
*/

.lgd-topic-list-builder__service {
  display: flex;
}

.lgd-topic-list-builder__service-icon svg {
  flex-shrink: 0;
  margin-inline-end: var(--spacing-small);
}

.lgd-topic-list-builder .field--name-topic-list-term {
  margin-block-end: var(--vertical-rhythm-spacing);
}

.lgd-topic-list-builder__show-more {
  display: flex;
  align-items: center;
  margin-block-end: var(--vertical-rhythm-spacing);
}

.lgd-topic-list-builder__show-more .lgd-icon {
  margin-inline-end: var(--spacing-smaller);
}
