{{ attach_library('localgov_base/back-to-top') }}
<a
  class="back-to-top"
  data-min-content-viewport-ratio="1.5"
  href="#main-content"
  hidden
>
  {% include "@localgov_base/includes/icons/icon.html.twig" with {
    icon_name: 'arrow-up',
    icon_wrapper_element: 'span',
    icon_classes: 'back-to-top__icon',
  } %}
  {{ 'Back to top'|t }}
</a>
<span class="back-to-top-target" aria-hidden></span>
