.lgd-section {
  padding-inline: var(--spacing, 1rem);
}

.lgd-section__inner {
  margin: 0 auto;
  max-width: var(--width-container, 73.75rem);
}

/* BLEED: outer element has no inline padding */
.lgd-section--bleed {
  padding-inline: 0;
}

/* RESTRICTED: inner element uses narrower max-width. */
.lgd-section--restricted > .lgd-section__inner {
  max-width: var(--width-restricted-width-section, 48rem);
}

/**
 * SEPARATED: margin-top between .lgd-section--separated and any other
 * .lgd-section--*, and inner element has inline margin.
 */
.lgd-section--separated {
  margin-inline: var(--spacing);

  & + .lgd-section,
  .lgd-section + & {
    margin-top: var(--vertical-rhythm-spacing);
  }
}

/**
 * SEPARATED BLOCK: margin-top between .lgd-section--separated and any other
 * .lgd-section--*.
 */
.lgd-section--separated-block + .lgd-section,
.lgd-section + .lgd-section--separated-block {
  margin-top: var(--vertical-rhythm-spacing);
}

/* SEPARATED INLINE: outer element has inline margin. */
.lgd-section--separated-inline {
  margin-inline: var(--spacing);
}

/* UNCONTAINED: inner element has occupies 100% parent width */
.lgd-section--uncontained > .lgd-section__inner {
  max-width: none;
}

/* UNCENTERED: inner element has no inline margin. */
.lgd-section--uncentered > .lgd-section__inner {
  margin-inline: 0;
}

/* WRAPPED: inner element has block and inner padding */
.lgd-section--wrapped > .lgd-section__inner {
  padding-block: var(--vertical-rhythm-spacing, 1.5rem);
  padding-inline: var(--spacing, 1rem);
}

/* WRAPPED BLOCK: inner element has block padding */
.lgd-section--wrapped-block > .lgd-section__inner {
  padding-block: var(--spacing, 1rem);
}

/* WRAPPED INLINE: inner element has inline padding */
.lgd-section--wrapped-inline > .lgd-section__inner {
  padding-inline: var(--spacing, 1rem);
}

/* EXPANDED: outer element has block padding */
.lgd-section--expanded {
  padding-block: var(--vertical-rhythm-spacing, 1.5rem);
}

/* DEMO: visualise inner and outer elements with background colours */
.lgd-section--demo {
  outline: 1px dotted pink;
}

.lgd-section--demo > .lgd-section__inner {
  outline: 1px dotted azure;
}
